<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org/">
	
<head>
	<meta charset="ISO-8859-1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.css} "/>
	<link th:rel="stylesheet" href="/css/main.css">
	<title>Biblioteca Uartiere</title>
</head>
	
<body>
		
	<header class="alert alert-info text-center" style="background-color: darkgoldenrod; color: black;"><h1>BENVENUTO VOLONTARIO</h1></header>
	
	<nav th:replace="fragments/navbar :: navbar('volontario/homepage')"></nav>
	<div style="max-width: 1270px; margin: 0 auto;">
	<table class="table table-success table-striped table-hover table-dark">
		<thead>
			<tr>
				<th>Id</th>
				<th>Codice Libro</th>
				<th>Numero Tessera</th>
				<th>Data Consegna</th>
				<th>Data Restituzione</th>
				<th>Stato</th>
				<th>Consegna</th>
				<th>Restituisci</th>
			</tr>
		</thead>
			<!-- Se non esistono delle assegnazioni allora mostrerà la seguente dicitura -->
			<div class="alert alert-info" style="background-color: darkgoldenrod; color: black;" role="alert" th:if="${elencoAssegnazione.size()==0} ">
				<h3 >Nessun prodotto trovato</h3>
			</div>
		<!-- Se esistono delle assegnazioni allora mostrerà la seguente tabella -->
		<tbody  th:if="${elencoAssegnazione.size()>0}" >
			<tr th:each="a:${elencoAssegnazione}">
				<td th:text="${a.idAssegnazione}"></td>
				<td th:text="${a.libro.getCodiceLibro}"></td>
				<td th:text="${a.cittadino.getNumeroTessera}"></td>
				<td th:text="${a.dataConsegna}"></td>
				<td th:text="${a.dataRestituzione}"></td>
				<td th:text="${a.libro.getStato}"></td>
				<td>
					<a th:if="${a.libro.getStato.equals('PR')}" th:href="@{/Volontario/cambiaStato/{id}(id=${a.libro.getCodiceLibro})}"><button type="button" class="btn btn-warning">Consegna</button></a>
					<a th:if="${a.libro.getStato.equals('TC')}">Consegnato</a>
				</td>
				<td>
					<a th:if="${a.libro.getStato.equals('TC')}"  th:href="@{/Volontario/cambiaStato/{id}(id=${a.libro.getCodiceLibro})}"><button type="button" class="btn btn-warning">Restituzione</button></a>
				</td>
			</tr>
		</tbody>
	</table>		
		
		
		
	<input type="button" onclick="location.href = '/Volontario/inserimento'" value="Inserisci libro">
	</div>
	<script th:src="@{/webjars/bootstrap/5.3.2/css/bootstrap.bundle.min.js}"></script>
</body>
</html>