<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-light bg-body-tertiary" th:fragment="navbar(current)" >
		  <div class="container-fluid">
		    <a class="navbar-brand " href="/">Biblioteca Quartiere</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="nav nav-pills">
		        <li class="nav-item">
		          <a class="nav-link" th:classAppend="${current=='volontario/homepage'}?active:text-secondary" aria-current="page" href="/Volontario">Consegne</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:classAppend="${current=='volontario/elenco'}?active:text-secondary" aria-current="page" href="/Volontario/elenco">Elenco Libri</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:classAppend="${current=='volontario/inserimento'}?active:text-secondary" aria-current="page" href="/Volontario/inserimento">Aggiungi Libro</a>
		        </li>
		        <dli class="nav-item">
		          <a class="nav-link text-align=right" aria-current="page" href="/logout">Logout</a>
		        </li>        
		      </ul>
<!--		      <form class="d-flex" role="search" action="/Volontario">-->
<!--		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="nome">-->
<!--		        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--		      </form>-->
		    </div>
		  </div>
	</nav>

</body>
</html>